body {
  font-family:  Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  margin: 40px auto;
  max-width: 850px;
  line-height: 1.6;
  font-size: 16px;
  color: #444;
  padding: 0 10px
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.2;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

h1 {font-size: 2em; color: #444; text-align: center;}
h2 {font-size: 1.75em; color: #444; text-align: center;}
h3 {font-size: 1.5em; color: #444;}
h4 {font-size: 1.3em; color: #444;}
h5 {font-size: 1.2em; color: #444;}
h6 {font-size: 1.1em; color: #444;}

p, pre, blockquote, table, ul, ol, dl {
  margin-top: 1em;
  margin-bottom: 1em;
}

ul ul, ul ol, ol ol, ol ul {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

li { margin: 0.3em auto; }

ul {
  margin-left: 2em;
  padding-left: 0;
}

dt { font-weight: bold; }

img { border: none; }

pre {
  border-left: 5px solid #dcdcdc;
  background-color: #f5f5f5;
  padding-left: 1em;
  font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  font-size: 0.8em;
  border-radius: 6px;
}

p > a {
  color: white;
  text-decoration: none;
  font-size: 0.7em;
  padding: 3px 6px;
  border-radius: 3px;
  background-color: #1e90ff;
  text-transform: uppercase;
  font-weight: bold;
}

p > a:hover {
  color: #dcdcdc;
  background-color: #484848;
}

li > a {
  color: #1e90ff;
  font-weight: bold;
  text-decoration: none;
}

li > a:hover { color: #ff4500; }

blockquote {
  color: #686868;
  font-size: 0.8em;
  line-height: 120%;
  padding: 0.8em;
  border-left: 5px solid #dcdcdc;
}

th, td {
  border: 1px solid #ccc;
  padding: 0.3em;
}

th { background-color: #f0f0f0; }

hr {
  border: none;
  border-top: 1px solid #ccc;
  width: 100%;
}

del {
  text-decoration: line-through;
  color: #777777;
}

.toc li { list-style-type: none; }

.todo {
  font-weight: bold;
  background-color: #ff4500 ;
  color: white;
  font-size: 0.8em;
  padding: 3px 6px;
  border-radius: 3px;
}

.justleft { text-align: left; }
.justright { text-align: right; }
.justcenter { text-align: center; }

.center {
  margin-left: auto;
  margin-right: auto;
}

.tag {
  background-color: #eeeeee;
  font-family: monospace;
  padding: 2px;
}

.header a {
  text-decoration: none;
  color: inherit;
}

.footer {
  position: fixed;
  bottom: 0;
  margin: 0px auto;
  max-width: 650px;
  line-height: 0;
  font-size: 12px;
  color: #444;
  background: white;
  padding: 0 10px
}

.katex { 
  font-size: 1.1em; 
}

code {
  font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0px 3px;
  display: inline-block;
  color: #52595d;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}
